@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
@import "./_icons.sass"

body
    margin: 0
    font-family: poppins



header
    .navbar
        .navbar-brand
            font-size: 50px
            font-weight: bolder
            margin-bottom: 20px
        .form-inline
            .blanc
                border-radius: 4px
                height: 15px
                background-color: white
            .noir
                border-radius: 4px
                height: 15px
                background-color: black
                margin-right: 5px    
        .collapse
            ul            
                li
                    margin: 0 10px
                    text-transform: uppercase

    