@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_fonts.sass"
@import "./_icons.sass"
@mixin circle($i) 
  border-radius: 100%
  height: $i
  width: $i


body
    margin: 0
    padding: 0
    font-family: "poppins"



header
    // position: sticky
    // top: 0
    // z-index: 1
    

    .navbar
        background-color:  #F3F3F3
       
        .navbar-brand
            font-size: 50px
            font-weight: bolder
            margin-bottom: 20px
            margin-top: 50px
        .form-inline
            #blanc
                border-radius: 4px
                height: 20px
                width: 20px
                background-color: white
            #noir
                border-radius: 4px
                border: 1px solid gray
                height: 20px
                width: 20px
                background-color: black
                margin-right: 5px 
            #connexion
                border-radius: 0px       
        .collapse
            ul            
                li
                    
                    margin: 0 10px
                    text-transform: uppercase
                    
   
#section1
    background-color: #F3F3F3
    height: auto
    position: relative
    display: flex
    justify-content: center
    #popup
        background-color: white
        position: absolute
        margin: 0 auto
        z-index: 1
        width: 65%
        height:80%
        top: 40px
        border-radius: 20px
        .row
            .col-6
                
                    .form-group
                        div
                            button
                                border-radius: 5px
                                border: none    

                
                            
                           
                
                    h1
                        a
                            text-decoration: none

        
       
        

   
      
    .row
        .col-7
            padding: 50px 100px
            div
                h2
                    color: #DD4545
                    font-size: 50px
                img
                    height: 80px    
                button
                    background-color: #DD4545
                    border-radius: 20px
                    border: none
                    padding: 10px 40px
        .col-5  
            div
                img
                    height: auto
                   
                        
                        
                        
                    
#section2
    height: auto
    

    .row
        
    
        .col-12
            
            div
                display: flex
                align-items: center
                justify-content: center
                
                height: 200px
                background-color: #333
                background-image: url("../../public/img/services/service-1.jpg")
                background-position: center

            
            
            &:first-child
                div
                    display: flex
                    align-items: center
                    justify-content: center
                
                    height: 200px
                    background-color: #333
                    background-image: url("../../public/img/services/service-1.jpg")
                    background-position: center
                
                
                
              
                

               
                
                
                 
            &:nth-child(2)
                div
                    h1
                        border-bottom: 2px solid white 
                    display: flex
                    align-items: center
                    justify-content: center
                
                    height: 200px
                    background-color: #333
                    background-image: url("../../public/img/services/service-1.jpg")
                    background-position: center
               
                

            &:nth-child(3)
                div
                     
                
                    display: flex
                    align-items: center
                    justify-content: center
                
                    height: 200px
                    background-color: #333
                    background-image: url("../../public/img/services/slider-3.jpg")
                    background-position: center

#section3
    h2
        font-weight: bolder
    .container
        .row
            .col-4
                .abc
                    
                    
                    position: relative
                    img

                    &:hover
                            

                        &::before
                        
                            content: "Avant"
                            position: absolute
                            height: 0
                            background-color: black
                            opacity: 0.9
                            bottom: 0
                            animation: abc 2s 
                            animation-iteration-count: 1
                            max-width: 50%
                            animation-fill-mode: forwards
                            
                            
                        &::after
                            
                        
                            content: "Apres"
                            position: absolute
                            height: 0
                            background-color: red
                            opacity: 0.9
                            bottom: 0
                            animation: abc 2s 
                            animation-iteration-count: 1
                            max-width: 50%
                            left: 50%   
                            animation-fill-mode: forwards
                           
                        
                            
                        
                &:nth-child(2)
                    div
                        .text-white
                            color: green
                            background-color: #DD4545
                            border-radius: 100px
                            padding: 20px
                            border: none
                            font-size: 20px
                    
                
                    
                
#section4
    background-image: url("../../public/img/cta-bg.jpg")
    height: 600px  
    background-position: center
    div
        padding: 300px 0px
        button
            background-color: #DD4545 
            border: none

#section5
    .container
        .row
            .col-2
                
                &:nth-child(2)
                    .d-flex
                        button
                            background-color: #DD4545 
                            border-radius: 30px
                            border: none
                            padding: 5px 10px
        .carou
            
                button
                    border-radius: 100%
                    border: none 
                    background-color: teal
                    height: 10px
                    width: 10px
                    margin: 0px 10px     

#caroussel
    .center
                align-items: center
                display: flex
                flex-direction: column
                height: 100%
                justify-content: center
                
                .wrapper 
                    display: flex
                    grid-gap: 1em
                    overflow: hidden
                    width: 100%
                    
                    .inner 
                        display: flex
                        grid-gap: 1em
                        transition: all 1s ease-in-out
                        .card 
                            border-radius: 0.5em
                            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5)
                            .content
                                button
                                    border-radius: 30px
                                    border: none

                            img 
                                border-top-right-radius: inherit
                                border-top-left-radius: inherit
                                display: block
                                width: 17.5em
                            .content 
                            
                                border-bottom-left-radius: inherit
                                border-bottom-right-radius: inherit
                                padding: 1em
                                text-align: center
                            div
                                h1
                                    margin: 0.35em 0
                                
                                    font-size: 1.25rem
                                    line-height: 1
                                h3
                                    margin: 0.35em 0
                                
                                    font-size: 1.25rem
                                    line-height: 1

                .map
                    margin-top: 1em
                    button
                        all: unset
                        border: black 2px solid
                        cursor: pointer
                        margin: 0 0.125em
                        position: relative
                        user-select: none
                        @include circle(1em)
                        &:active
                            &::after
                                background: black
                                content: ""
                                left: 50%
                                position: absolute
                                transform: translate(-50%, -50%)
                                top: 50%
                                @include circle(1em)






                    
   
            
                
        


#section6
    .row
     
        .col-4
            div
                height: 370px
                
                background-color: #F3F3F3
                i
                    font-size: 30px
                button
                    border: none    
                
            &:nth-child(2)
                div
                    height: 370px
                    background-color:#DD4545 
                    i
                        font-size: 30px
                    button
                        border: none    
            &:nth-child(3)
                div
                    height: 370px
                    i
                        font-size: 30px
                    button
                        border: none    
                    

           
                
            
            
            
   
            // &:first-child
                // background-color:#f3f2f3c5
            // &:nth-child(2)
                
                // border: none 
            // &:last-child
                
                // background-color: #f3f2f3c5
#section7
    background-color: #343A40
    height: auto
    .row
        padding: 100px 
        .col-4
            p
                color: grey
            &:nth-child(2)
           
            &:last-child
                button
                    border: 1px solid grey
                    border-radius: 4px
                    margin: 3px 5px
                                                  
footer
    background-color: black
    height: 80px  
    p
        color: grey        

@keyframes abc
    0%
        width: 100%
        height: 0%
        
    100%
        width: 100%
        height: 50%
@media ( max-width: 992 px )
    #section2
        .row
           flex-wrap: wrap
           .col-12
               div
                
                   
                


@media ( max-width: 992px )
    #section4
        div
            
            h1
                font-size: 50px

@media  ( max-width: 992px )
    #caroussel
        display: flex
        flex-direction: column
        .wrapper
            .inner
@media  ( max-width: 992px )
    header
        .navbar
            width: auto    
@media  ( max-width: 992px )
    #section1
        background-color: #F3F3F3
        height: auto
        position: relative
    #popup
        background-color: white
        position: absolute
        margin-left: auto
        margin-right: auto
        z-index: 1
        width: auto
        height: auto
       
        border-radius: 20px
        .row
            .col-6
               
                
                    h1
                        font-size: 10px
                
                    .form-group
                        div
                            button
                                border-radius: 5px
                                border: none 
@media  ( max-width: 992px )
                                   
                            
                
                

                    
                
        

            
            

            
                          
                        
             
            
                
                        




                            
           
            

        
                                                


    